header{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    background-color: #2f1a5a;
    position: absolute;
}

.links{
    display: flex;
    margin: 1rem;
    max-width: 35vw;

}
.DropContent{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 35vw;
}

header h1{
    font-family: "Pixelette";
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    cursor: default;
    user-select: none;
}

.links a{
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: "Pixelette";
}

.links a:hover, header h1:hover{
    color: #f6da71;
}
.DropDown .DropContent{
    padding: 0 1rem;
    font-size: 1.2rem;
    font-family: "Pixelette";
}

.links .DropContent:hover{
    color: #f6da71;
}

.DropDown{
    display: none;
}



@font-face {
    font-family: 'Pixelette'; /* Pick a name */
    src: url('../../assets/fonts/Pixelette.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 1040px) {
    header{
        flex-direction: column;
        width: 100vw;
        position: absolute;
    }
    .links a{
        font-size: 1.1rem;
        padding: 0.5rem;
    }
    .links{
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    header{
        flex-direction: Row;
        width: 100vw;
        position: relative;
    }
    header .links{
        display: none;
    }

    .DropDown{
        display: block;
        padding-right: 1rem;
    }
    .DropDownBtn{
        width: 10vw;
        height: 5vh;
        background-color: #55e1b8;
        border-color: #b14f87;
        right: 1rem;
    }
    .btnIcon{
        color: #fdfeff;
        font-size: 1.5rem;
        box-shadow: #5d33bd;
        border-color: #b14f87;
    }

    .DropContent{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #2f1a5a;
        margin: 1rem;
        max-width: 60vw;
        right: 0.1rem;
        
    }
    .DropContent a{
        overflow: hidden;
        display: flex;
        padding: 1rem;
        font-family: "Pixelette";
    }
    .DropContent a:hover{
        color: #f6da71;
    }

}